<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="300">

            <li class="start ">
                <a href="{{ path('pfe_front_homepage') }}">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('ligne') }}">
                    <i class="icon-diamond"></i>
                    <span class="title">Ligne</span>
                </a>
            </li>
            <li>
                <a href="{{ path('produit') }}">
                    <i class="icon-paper-plane"></i>
                    <span class="title">Produit</span>
                </a>
            </li>
            <li >
                <a href="{{ path('archive') }}">
                    <i class="icon-briefcase"></i>
                    <span class="title">Archive</span>
                </a>
            </li>



            <li class="last">
                <a href="javascript:;">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Kosu</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            <i class="icon-puzzle"></i>
                            Insertion des donneés</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-bar-chart"></i>
                            Suivi</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->