{% extends 'pfeFrontBundle:Default:index.html.twig' %}

{% block body -%}
<div class="portlet light">
    <div class="portlet-body">
    <h1>Ligne creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ligne') }}">
            Back to the list
        </a>
    </li>
</ul>
        </div>
    </div>
{% endblock %}
